.container {
    background-color: crimson;
    width: 400px;
    height: 640px;
    padding: 2rem;
    border-radius: 1rem;
    margin: 0 auto;
}
 
.App {
    display: flex;
    justify-content: center;
    align-items: center
}

.display {
    background: black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 80px;
    padding: 2px 24px;
    margin: 16px 0;
    color: white;
    font-weight: bold;
    font-size: 55px;
    border-radius: 38px;
}
